body {
	background: #f5f5dc; /* Beige */
	color: #4b3f2f; /* Dark Brown */
	max-width: 600px;
	margin: auto;
	padding: 0 16px;
	margin-bottom: 500px;
	scrollbar-color: #d2b48c #f5f5dc; /* Tan and Beige */
	font-family: 'Georgia', serif; /* More rustic font */
}

::-webkit-scrollbar {
	width: .66vw;
	background-color: #f5f5dc;
}
::-webkit-scrollbar-thumb {
	background-color: #d2b48c;
	border-radius: 5px;
}

a {
	color: #8b4513; /* Saddle Brown */
	text-decoration: none;
}

#tagcloud {
	list-style: none;
	text-align: center;
	padding: 0;
}

#tagcloud li {
	display: inline-block;
}

#tagcloud a {
	margin: .1em .25em;
}

a:visited {
	color: #6b4226; /* Darker Brown */
}

a:hover {
	color: #6b4226;
	text-decoration: underline;
}

h1 {
	text-align: center;
	padding: 1rem;
	color: #8b4513; /* Saddle Brown */
	border-style: solid;
	border-width: 0px 0px 2px 0px;
}

h2 {
	color: #a0522d; /* Sienna */
	text-align: center;
}

h3 {
	color: #a0522d; /* Sienna */
	text-align: center;
	margin: 0;
}

footer {
	text-align: center;
	padding: 1em;
	color: #8b4513; /* Saddle Brown */
	border-style: solid;
	border-width: 2px 0px 0px 0px;
}

footer p {
	margin: 0;
	color: #4b3f2f; /* Dark Brown */
}

img {
	max-width: 90%;
	max-height: 400px;
	margin: auto;
	display: block;
}

code {
	overflow-wrap: break-word;
	color: #556b2f; /* Dark Olive Green */
}

.taglist {
	text-align: center;
	margin-bottom: 2em;
	margin-top: 2em;
}

@media (pointer: coarse) {
	li > a {
		display: inline-block;
		padding: 0.2em 0;
	}
}

@media print {
	a[href] {
		text-decoration: none;
		color: black;
	}

	footer,.taglist { display: none; }

	body {
		margin: 0;
	}
}

.hidden {
	display: none !important;
}

#artlist {
	font-size: large;
}

#artlist li {
	padding: .25em;
}

@media (min-width: 55em) {
	#artlist { column-count: 2; }
}

@media (min-width: 100em) {
	#artlist { column-count: 3; }
}

input#search {
	all: unset;
	background: #fff;
	color: #333;
	padding: 0.7rem 1rem;
	border-radius: 5px;
	width: 100%;
}

.search {
	width: 400px;
	max-width: 85vw;
	position: relative;
	margin: 0.5rem auto 1.2rem;
	display: flex;
}

button#clear-search {
	all: unset;
	position: absolute;
	right: 4px;
	top: 5px;
	height: 30px;
	width: 30px;
	color: #888;
	cursor: pointer;
	transition: color 180ms ease-in-out;
}
button#clear-search:hover {
	color: #555;
}

.matched-recipe {
	font-size: x-large;
	display: list-item !important;
}

.list-searched {
	column-count: 1 !important;
	list-style: decimal;
	max-width: 600px;
	margin: auto;
}

#tag_alcool:before { content: "🍸"; }
#tag_avocat:before { content: "🥑"; }
#tag_pomme:before { content: "🍎"; }
#tag_asiat:before { content: "🥢"; }
#tag_boeuf:before { content: "🐄"; }
#tag_pain:before { content: "🍞"; }
#tag_breakfast:before { content: "🌅"; }
#tag_broccoli:before { content: "🥦"; }
#tag_gâteau:before { content: "🍰"; }
#tag_fromage:before { content: "🧀"; }
#tag_poulet:before { content: "🐔"; }
#tag_chocolat:before { content: "🍫"; }
#tag_cookies:before { content: "🍪"; }
#tag_curry:before { content: "🍛"; }
#tag_dessert:before { content: "🍮"; }
#tag_drink:before { content: "🍹"; }
#tag_canard:before { content: "🦆"; }
#tag_oeuf:before { content: "🥚"; }
#tag_poisson:before { content: "🐟"; }
#tag_fruit:before { content: "🍇"; }
#tag_citron:before { content: "🍋"; }
#tag_lait:before { content: "🥛"; }
#tag_champignon:before { content: "🍄"; }
#tag_pancake:before { content: "🥞"; }
#tag_pâtes:before { content: "🍝"; }
#tag_tarte:before { content: "🥧"; }
#tag_pizza:before { content: "🍕"; }
#tag_porc:before { content: "🐖"; }
#tag_patate:before { content: "🥔"; }
#tag_rapide:before { content: "🏃"; }
#tag_riz:before { content: "🍚"; }
#tag_salade:before { content: "🥗"; }
#tag_sandwich:before { content: "🥪"; }
#tag_soupe:before { content: "🍜"; }
#tag_épicé:before { content: "🌶️"; }
#tag_steak:before { content: "🥩"; }
#tag_bouillon:before { content: "🍲"; }
#tag_tomate:before { content: "🍅"; }

.cryptocontainer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.cryptoinfo {
	max-width: 350px;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.cryptoinfo code {
	font-size: small;
	overflow-wrap: break-word;
}
.qr {
	max-height: 150px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.js-only { display: none; }
